################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Alpay_SI/FileContentIndex
/SI_10a/.vs/StripeExample/FileContentIndex/5b833e6c-163f-4d56-9a44-ab6d4d8de6f3.vsidx
