################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Alpay_SI/FileContentIndex
/SI_10a/.vs/StripeExample/FileContentIndex/5b833e6c-163f-4d56-9a44-ab6d4d8de6f3.vsidx
/SI_10a/SI_10a/.vs/SI_10a/FileContentIndex/392ce649-f309-4c93-917c-426d01c7570e.vsidx
