################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Alpay_SI/FileContentIndex
/SI_10a/.vs/StripeExample/FileContentIndex/5b833e6c-163f-4d56-9a44-ab6d4d8de6f3.vsidx
/SI_10a/SI_10a/.vs/SI_10a/FileContentIndex/392ce649-f309-4c93-917c-426d01c7570e.vsidx
/SI_10a/SI_10a/.vs/SI_10a/FileContentIndex/454fa276-2df0-4eb6-8cfc-98ebad331b9a.vsidx
/SI_10a/SI_10a/.vs/SI_10a/FileContentIndex/6bb26676-cc27-4ee7-85bf-360c04a41a8d.vsidx
/SI_10a/SI_10a/.vs/SI_10a/FileContentIndex/936a2352-604d-40cb-a67b-ac5a69dd326e.vsidx
/SI_10a/SI_10a/.vs/SI_10a/FileContentIndex/e76fa08a-5e81-418d-80b6-36a4c67e0014.vsidx
